body {
    margin: 0;
    width: 100%;
    font-family: Arial;
    background: #292929;
}
.container {

    margin: 0 auto;
}

h2 {
    margin: 0;
}

footer {
    height: 94px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #1F1F1F;
    text-align: center;
    color: #FFFFFF;
}

.header {
    height: 109px;
    line-height: 109px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #1F1F1F;
    text-align: center;
    color: #FFFFFF;
}
p {
    margin: 0 auto;
    height: 105px;
    font-size: 15px;
    color: #606060;
    width: calc(100% -  107px);
   
}

form {
    height: 300px;
    margin-top: 50px;
    margin: 0 auto;
    color: white;

}

.form-control {
    margin: 0 auto;
}

.nickname__field {
    display: flex;
    margin: 0 auto;
    width: calc(100% - 38px);
    height: 49px;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    background: #3C3C3C;
}

.nickname__field::placeholder {
    color: #CCCCCC;
}

.button_group {
    
}

.nickname__button {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #007EF4;
    margin-left: -60px ;
}

.nickname__button {
    color: #fff;
}

.btn {
    border: none;
    background: #d80032;
    margin-top: 30px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 0 auto;
}

.message-content {
    background: #fb6c6c;
    color: white;
    margin: 10px;
    border-radius: 4px;
    padding: 6px;
    display: inline-flex;
}


