body {
    max-width: 1920px;
    margin: 0;
    width: 100%;
    font-family: Arial;
    background: #292929;
}
.container {

    margin: 0 auto;
}

h2 {
    margin: 0;
}

footer {
    height: 94px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #1F1F1F;
    text-align: center;
    color: #FFFFFF;
}

.header {
    height: 109px;
    line-height: 109px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #1F1F1F;
    text-align: center;
    color: #FFFFFF;
}
p {
    margin: 0 auto;
    font-size: 15px;
    color: #606060;
    width: calc(100% -  107px);
}

form {
    height: 300px;
    margin-top: 50px;
    margin: 0 auto;
    color: white;

}

.form-control {
    margin: 0 auto;
}

.nickname__field {
    color: #CCCCCC;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    margin: 0 auto;
    width: calc(100% - 45px);
    padding: 10px;
    height: 39px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    background: #3C3C3C;
}

.nickname__field::placeholder {
    color: #CCCCCC;
}

.group__button {
  margin-top: 50px;
  display: flex;
}

.nickname__button {
      border: none;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background: #007EF4;
      margin-top: 15px;
      margin-left: -60px;
      margin-right: 25px;
}

.nickname__button {
    color: #fff;
}

.btn {
    border: none;
    background: #d80032;
    margin-top: 30px;
    padding: 10px 15px 10px 15px;
    display: flex;
    margin: 0 auto;
}

.message-content {
    background: #fb6c6c;
    color: white;
    margin: 10px;
    border-radius: 4px;
    padding: 6px;
    display: inline-flex;
}

.message_failed {
  text-align: center;
  color: red;
}

@media only screen and (min-width: 600px) {


  .group__button {
    width: 50%;
    margin: 0 auto;
  }

  form {
    margin-top: 150px;
  }
  .header {
    text-align: justify;
  }
  h2 {
    margin-left: 40px;
  }
}
